.box {
    height: 300px;
    width: 400px;
    background-color: #ee3e80;
}

/**
p {
    height: 75%;
    width: 75%;
    background-color: #e1ddda;
}
**/

p.one {
    border: .6em solid rgb(76, 138, 109);
    text-decoration: underline;
    padding: .6em;
    border-radius: 1.2em;
}

p.two {
    border-width: thick;
    border: dotted black;
    padding: .6em
}

p.three {
    border-width: 1px 4px 12px 4px;
    border: solid black;
    padding: .6em;
}